#reviews{
    display:flex;
    flex-flow: row wrap; 
    border-top: solid black;
    border-bottom: solid black;

    justify-content: space-evenly;
    #client1 , #client2 , #client3{
        min-width:  300px;
        max-width: 300px;
        div{
            margin-top: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            h2{
                margin-left: auto;
                margin-right: auto;
                font-size: 25px;
            }
        }
        p{
            margin-top: 1rem;
            font-size: 1.5rem;
        }

    }
    img{
        border-radius: 50%;
        border: solid wheat;
    }
}